{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        $('#myTab li:eq(0) a').tab('show');
    });
</script>
{% endblock %}

{% block body %}

<div id="asks">
  {% for item in asks %}
  <div class="ask">
    <div class = "avatar"> 
        {{ item.user|avatar(38,1) }}
    </div>
    <div class="ask-border">
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }}前 提出了问题,{{ item.answers_count }} 个回答</div>
        <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
        <div class="body">
            {{ item.body|truncate_lines|md_body }}
        </div>
    </div>
  </div>
  {% endfor %}
  {% if asks|length == 5 %}
  <a class="page_more" href="/discovery?last={{ asks[4].id }}">查看更多...</a>
  {% endif %}
</div>

<div id="hot_area">
    <div id="hot_show" class="hot_show">
        <ul id="myTab" class="nav-tabs nav">
            <li><a href="#daily-hot" data-toggle="tab">今日最热</a></li>
            <li class="active"><a href="#monthly-hot" data-toggle="tab">本月最热</a></li>
        </ul>
    </div>

    <div class="tab-content" id = "content">
        <div class="tab-pane" id="daily-hot">
            {% for item in asks %}
          <div class="hot">
            <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
            <div class="content_wrapper">
                <div class = "avatar"> 
                    {{ item.user|avatar(38,1) }}
                    <div class="item-vote">
                        <a name="expand" class="item-vote-count" href="javascript:;">5</a>
                    </div>
                </div>

                <div class="hot-border">
                    <div class="info">{{ item.user|user_name_tag }}</div>
                    <div class="body">
                        {{ item.body|truncate_lines|md_body }}
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class = "tab-pane" id="monthly-hot">
            {% for item in asks %}
          <div class="hot">
            <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
            <div class="content_wrapper">
                <div class = "avatar"> 
                    {{ item.user|avatar(38,1) }}
                    <div class="item-vote">
                        <a name="expand" class="item-vote-count" href="javascript:;">5</a>
                    </div>
                </div>

                <div class="hot-border">
                    <div class="info">{{ item.user|user_name_tag }}</div>
                    <div class="body">
                        {{ item.body|truncate_lines|md_body }}
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% if current_user %}
<div class="box">
  {{ current_user|avatar(120) }}
</div>
{% endif %}

{% endblock %}
