{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
$(function (){
    $('#hot_tabs li:eq(0) a').tab('show');
});

function num_human_js(num){
    if(num < 100){
        return (num)
    }
    else if(num < 1000){
        return parseInt(num/100) + '00+';
    }
    else if(num < 10000){
        return parseInt(num/1000) + ',000+';
    }
    else{
        return parseInt(num/10000) + '0,000+';
    }
}
function get_hot_topcs(el){
    $.get("topic_hot", function(json){
        var jsonList=eval("("+json+")");
        var i = 1;
        for(var itr in jsonList){
            var id = 'topic_' + i;
            item = jsonList[itr];
            content = item['name'] + '(<strong>' + num_human_js(item['cnt']) + '</strong>)';
            var h = $('#'+id+'> span').html(content);
            i = i + 1;
        }

    });
}

</script>
{% endblock %}

{% block body %}

<div id="asks">
  {% for item in asks %}
  <div class="ask">
    <div class = "avatar"> 
        {{ item.user|avatar(38,1) }}
    </div>
    <div class="ask-border">
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 提出了问题,{{ item.answers_count }} 个回答</div>
        <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
        <div class="body">
            {{ item.body|truncate_lines|md_body }}
        </div>
    </div>
  </div>
  {% endfor %}
  {% if asks|length == 5 %}
  <a class="page_more" href="/discovery?last={{ asks[4].id }}">更多新问题...</a>
  {% endif %}
</div>

<div id="hot_area">
    <div id="hot_show" class="hot_show">
        <ul id="hot_tabs" class="nav-tabs nav">
            <li><a href="#daily-hot" data-toggle="tab">今日最热</a></li>
            <li class="active"><a href="#monthly-hot" data-toggle="tab">本月最热</a></li>
        </ul>
    </div>

    <div class="tab-content" id = "content">
        <div class="tab-pane" id="daily-hot">
            {% for item in daily_hots %}
          <div class="hot">
            <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
            <div class="content_wrapper">
                <div class = "avatar"> 
                    {{ item.user|avatar(38,1) }}
                    <div class="item-vote">
                        <a name="expand" class="item-vote-count" href="javascript:;">5</a>
                    </div>
                </div>

                <div class="hot-border">
                    <div class="info">{{ item.user|user_name_tag }}</div>
                    <div class="body">
                        {{ item.body|truncate_lines|md_body }}
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class = "tab-pane" id="monthly-hot">
            {% for item in monthly_hots %}
          <div class="hot">
            <div class="title"><a href="/ask/{{ item.id }}">{{ item.title|e }}</a></div>
            <div class="content_wrapper">
                <div class = "avatar"> 
                    {{ item.user|avatar(38,1) }}
                    <div class="item-vote">
                        <a name="expand" class="item-vote-count" href="javascript:;">5</a>
                    </div>
                </div>

                <div class="hot-border">
                    <div class="info">{{ item.user|user_name_tag }}</div>
                    <div class="body">
                        {{ item.body|truncate_lines|md_body }}
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div class="hot-topics">
    <div class="hot-topics-head">
        <div class="header-name">热门话题</div>
        <a class="round" onclick="return get_hot_topcs(this);" href="javascript:void(0)">换一批</a>
    </div>
    <ul class="hot-topics-wrapper">
        {% for topic in hot_topics %}
        <li id="{{'topic_' + loop.index|string }}" class="topic">
            <span>{{topic.name}}(<strong>{{topic.cnt|num_human}}</strong>)</span>
            <a class="follow">关注</a>
        </li>
        {% endfor %}

    </ul>
    <div class="more-topics">
        <div>
            <a href="/topics" class="m_button button">进入话题广场</a>
        </div>
        <a href="/topics" class="text">
            来这里发现更多有趣话题
        </a>
    </div>
</div>



<div class="ads-show">
</div>
{% endblock %}
