{% extends "base.html" %}
{% block body %}
<div class="user_profile">
<h1>{{ user.name }}</h1>
<div class="info">
  注册于 {{ user.created_at|strftime }}前
</div>
{% if user.blog %}
<a href="{{ user.blog }}" rel="nofollow" target="_blank">{{ user.blog|urlize }}</a>
{% endif %}
<div class="bio md_body">
  {% if user.bio %}
  {{ user.bio|md_body }}
  {% endif %}
</div>
</div>
{% endblock %}
{% block sidebar %}

<div class="profile-panel">
  {{ user|avatar(120) }}
  <div class="profile-honour">
    <div class = "honour-list">
        <span>获得</span>
        <span><strong>100</strong> votes</span>
        <span><strong>120</strong> dislikes</span>
    </div>

  </div>
</div>
  <div class = "social-buttons">
    {% if current_user|is_following(user) %}
        <a class="button unfollow" href="javascript:void(0)" onclick="follow('{{user.login}}',0)"></a>
    {% else %}
        <a class="button follow" href="javascript:void(0)" onclick="follow('{{user.login}}',1)"></a>
    {%endif %}
    <a href="/inbox/{{user.id}}" class="inbox">私信</a>
  </div>
  <div class="profile-records">
  </div>

{% endblock %}

