{% extends "base.html" %}

{% block scripts %}
<script>

function follow(id) {
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    follow_handler = $("a.follow")
    act = follow_handler.hasClass('unfollow')
    follow_handler.toggleClass('unfollow')
    if(act == 0)
    {
        xmlhttp.open("GET","/follow?id="+id,true);
    }
    else
    {
        xmlhttp.open("GET","/unfollow?id="+id,true);
    }
    xmlhttp.send();
}
    
</script>
{% endblock %}

{% block body %}
<div class="page-title">
    <h2>用户动态</h2>
</div>
<div id="articles">
  {% for item in articles %}
    <div id="ask_{{item.id}}" class="ask">
    <div class = "avatar"> 
        {{ item.user|avatar(38,1) }}
        {% if item.type == 'answer' %}
        <div class="item-vote">
        <a name="expand" class="item-vote-count" href="javascript:;">{{item.count}}</a>
        </div>
        {% endif %}

    </div>
    <div class = "ask-border">
    {% if item.type == 'ask' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 提出了问题,{{ item.count }} 个回答</div>
        <div class="title"><a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'answer' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 回答了问题</div>
        <div class="title"><a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followUser' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了用户 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followAsk' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了问题 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followTopic' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了话题 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% endif %}
    <div class="body">
      {{ item.body|truncate_lines|md_body }}
    </div>
    </div>
  </div>
  {% endfor %}

  {% if articles|length == 10 %}
  <a class="page_more" href="/?last={{ articles[9].id }}">查看更多...</a>
  {% endif %}
</div>
{% endblock %}
{% block sidebar %}

<div class="profile-panel">
  {{ user|avatar(120) }}
</div>
  <div class = "social-buttons">
    {% if current_user == user %}
        <a href="/settings" ">修改资料</a>
    {% elif current_user|is_following(user) %}
        <a class="button follow unfollow" href="javascript:void(0)" onclick="follow('{{user.login}}')"></a>
    {% else %}
        <a class="button follow" href="javascript:void(0)" onclick="follow('{{user.login}}')"></a>
    {%endif %}
    <a href="/inbox/{{user.id}}" class="inbox">私信</a>
  </div>
  <div class="profile-records">
  </div>

{% endblock %}
