{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
$(function (){
    $('#hot_tabs li:eq(0) a').tab('show');
});

function num_human_js(num){
    if(num < 100){
        return (num)
    }
    else if(num < 1000){
        return parseInt(num/100) + '00+';
    }
    else if(num < 10000){
        return parseInt(num/1000) + ',000+';
    }
    else{
        return parseInt(num/10000) + '0,000+';
    }
}
function get_hot_topcs(el){
    $.get("topic_hot", function(json){
        var jsonList=eval("("+json+")");
        var i = 1;
        for(var itr in jsonList){
            var id = 'topic_' + i;
            item = jsonList[itr];
            content = item['name'] + '(<strong>' + num_human_js(item['cnt']) + '</strong>)';
            var h = $('#'+id+'> span').html(content);
            i = i + 1;
        }

    });
}

</script>
{% endblock %}

{% block body %}
<div class="page-title">
    <a class="t-down t-right t-gray t-padding-right" href="#">已关注5个话题</a>
    <h2>话题广场</h2>
</div>

<div class="topic-category">
    <div class="category-wrapper">
        {% for topic in topics %}
        {% if loop.index % 2 == 1 %}
        <div class="item t-padding-right">
            <div class="content">
                <a target="_blank" href="#">

                {{ topic|topic_avatar() }}
                <strong>{{topic.name}}</strong></a>
                <p>{{topic.desc}}</p>
                <a class="follow" href="javascript:;">关注</a>
            </div>
        </div>
        {% else %}
        <div class="item">
            <div class="content">
                <a target="_blank" href="#">
                {{ topic|topic_avatar() }}
                <strong>{{topic.name}}</strong></a>
                <p>{{topic.desc}}</p>
                <a class="follow" href="javascript:;">关注</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% if topics|length == 10 %}
        <a class="page_more" href="/topics?last={{ topics[9].id }}">更多...</a>
    {% endif %}
</div>

{% endblock %}


{% block sidebar %}

<div class="ads-show">
</div>
{% endblock %}
