{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url("js/wmd.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/showdown.js") }}"></script>
<script type="text/javascript">

  function ask_follow(id){
    ask_x = $(".action a.follow","#ask_"+id)
    if(ask_x.text() == "关注问题"){
        ask_x.addClass("followed").text("已关注");
        $.get("/ask/" + id + "/follow",function(s){
      });
    }
    else{
        ask_x.removeClass("followed").text("关注问题");
        $.get("/ask/" + id + "/unfollow",function(s){
      });
    }

    return false;
  }
  
</script>
{% endblock %}

{% block body %}
<div class="page-title">
    <h2>{{topic.name}}</h2>
</div>
<div id="articles">
  {% for item in articles %}
    <div id="ask_{{item.id}}" class="ask">
    <div class = "avatar"> 
        {{ item.user|avatar(38,1) }}
        {% if item.type == 'answer' %}
        <div class="item-vote">
        <a name="expand" class="item-vote-count" href="javascript:;">{{item.count}}</a>
        </div>
        {% endif %}

    </div>
    <div class = "ask-border">
    {% if item.type == 'ask' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 提出了问题,{{ item.count }} 个回答</div>
        <div class="title"><a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'answer' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 回答了问题</div>
        <div class="title"><a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followUser' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了用户 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followAsk' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了问题 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% elif item.type == 'followTopic' %}
        <div class="info">{{ item.user|user_name_tag }} {{ item.created_at|strftime }} 关注了话题 <a href="{{ item.url }}">{{ item.title|e }}</a></div>
    {% endif %}
    <div class="body">
      {{ item.body|truncate_lines|md_body }}
    </div>
    {% if item.type == 'answer' or item.type == 'ask' %}
    <div class="action">
            {% if item.followers.count(current_user) == 0 %}
                <a href="#" class="follow" onclick="return ask_follow('{{item.id}}');">关注问题</a>
            {% else %}
                <a href="#" class="follow followed" onclick="return ask_follow('{{item.id}}');">已关注</a>
            {% endif %}
        {% if item.comments|count == 0 %}
        <a href="#" onclick="return toggleAnswerComments('{{ item.id }}');">给予评论</a>
        {% else %}
        <a href="#" onclick="return toggleAnswerComments('{{ item.id }}');">{{ item.comments|count }} 条评论</a>
        {% endif %}
    </div>
    {% endif %}

    </div>
  </div>
  {% endfor %}
  {% if articles|length == 10 %}
  <a class="page_more" href="/?last={{ articles[9].id }}">查看更多...</a>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% if current_user %}
<div class="box">
  {{ current_user|avatar(120) }}
</div>
{% endif %}
{% endblock %}
