{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">

  function topic_follow(id){
    topic_x = $("a.follow","#topic_"+id)
    follow_cnt = $("#topics_follow_cnt")
    cnt = parseInt(follow_cnt.text())
    if(topic_x.text() == "关注"){
        topic_x.addClass("followed").text("已关注");
        follow_cnt.text(cnt + 1)
        $.get("/topic_follow?id=" + id,function(s){});
    }
    else{
        topic_x.removeClass("followed").text("关注");
        if(cnt >= 1){
            follow_cnt.text(cnt - 1)
        }
        $.get("/topic_unfollow?id=" + id,function(s){});
    }

    return false;
  }
  
</script>
{% endblock %}

{% block body %}
<div class="page-title">
    <a class="t-down t-right t-gray t-padding-right" href="#">已关注<span id="topics_follow_cnt">{{current_user.topics|length}}</span>个话题</a>
    <h2>话题广场</h2>
</div>

<div class="topic-category">
    <div class="category-wrapper">
        {% for topic in topics %}
        {% if loop.index % 2 == 1 %}
        <div id="topic_{{topic.id}}" class="item t-padding-right">
            <div class="content">
                {{ topic|topic_avatar() }}
                <a target="_blank" href="{{'/topic/' + topic.id|string}}"><strong>{{topic.name}}</strong></a>
                <p>{{topic.desc}}</p>
                {% if topic.followers.count(current_user) == 0 %}
                    <a href="javascript:;" class="follow" onclick="return topic_follow('{{topic.id}}');">关注</a>
                {% else %}
                    <a href="javascript:;" class="follow followed" onclick="return topic_follow('{{topic.id}}');">已关注</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div id="topic_{{topic.id}}" class="item">
            <div class="content">
                {{ topic|topic_avatar() }}
                <a target="_blank" href="{{'/topic/' + topic.id|string}}"><strong>{{topic.name}}</strong></a>
                <p>{{topic.desc}}</p>
                {% if topic.followers.count(current_user) == 0 %}
                    <a href="javascript:;" class="follow" onclick="return topic_follow('{{topic.id}}');">关注</a>
                {% else %}
                    <a href="javascript:;" class="follow followed" onclick="return topic_follow('{{topic.id}}');">已关注</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% if topics|length == 10 %}
        <a class="page_more" href="/topics?last={{ topics[9].id }}">更多...</a>
    {% endif %}
</div>

{% endblock %}


{% block sidebar %}

<div class="ads-show">
</div>
{% endblock %}
